/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-size: 100%;
  overflow-y: scroll;
}
body, header, footer, main, nav, menu, article, section, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, span, pre, form, fieldset, textarea, select, blockquote, table, th, td, caption {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
 
}
body, header, footer, main, nav, menu, article, section, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, b, span, pre, form, input, fieldset, textarea, select, button, blockquote, table, th, td, address, caption, em, strong {
  font-family: 'Quicksand', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
b, strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
q:before, q:after {
  content: '';
}
object,
embed {
  vertical-align: top;
}
img, abbr, acronym {
  border: 0;
}
li {
  list-style-type: none;
}
i {
  font-style: oblique;
}
input {
  font-size: 100%;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.cf {
  min-height: 1px;
}
* html .cf {
  height: 1px;
  /*¥*/
     /*/
height: auto;
overflow: hidden;
/**/
}


.viewport {
  width: 1000px;
  margin: 0 auto;

  header {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #aef994;
    .logo {
      font-size: 40px;
      font-weight: bold;
      float: left;
    }
    nav {
      float: right;
      ul {
        li {

        }
      }
    }
  }
  .flash {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #1dd135;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  aside {
    width: 20%;
    float: left;
    border: 1px solid #999;
    padding: 15px;
    box-sizing: border-box;
    background-color :#e0ffff;

    section {
      margin-bottom: 20px;
      p {
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 10px;
        color: #2c880c;
        border-bottom: 1px solid #2c880c;
      }
    }

    .username {
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold;
    }

    .my_posts {
      li {
        word-break: break-all;
      }
    }

    .tags {
    }
  }
  main {
    width: 75%;
    border: 1px solid #999;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    background-color :#fffaf0;
    

    h1 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }

    textarea {
      padding: 10px;
      margin-bottom: 20px;
    }

    h2.content {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
      border: 1px solid #2c880c;;
      padding: 20px;
      word-break: break-all;
    }

    .empathy {
      float: left;
      width: 49%;
      padding: 0 15px;
      box-sizing: border-box;

      h3 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      ul {
        li {
          list-style: disc;
        }
      }
    }
    .cheer {
      float: right;
      width: 49%;
      padding: 0 15px;
      box-sizing: border-box;
      border-left: 1px solid #999;

      h3 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      ul {
        li {
          list-style: disc;
        }
      }
    }
  }

  table.form {
    margin-bottom: 30px;
    th {
      vertical-align: middle;
    }
    th, td {
      padding: 5px;
    }
    td {
      textarea {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: blue;
    text-decoration: none;
    &:hover {
      background: none;
    }
  }

  ul {
    margin-left: 20px;
    li {
      list-style: disc;
      line-height: 160%;
    }
  }

  .mb {
    margin-bottom: 30px;
  }
  .mt {
    margin-top: 30px;
  }

  .btn {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 20px;
    color: white;
    background-color: #e63d3d;
    &:hover {
      background-color: #e63d3d;
      opacity: 0.7;
    }
  }

  .post_table {
    width: 100%;
    tr {
      border: 1px solid #999;
      td {
        padding: 10px;
        line-height: 160%;
        word-break: break-all;
        em {
          font-size: 10px;
          margin-top: 10px;
        }
        span.view-tag {
          margin-right: 10px;
        }
      }
    }
  }
}

main.no-login {
  float: none;
  width: 100%;
}